<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{{artist_name}}</title>

    <link rel="stylesheet" href="style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link
        rel="icon"
        type="image/x-icon"
        href="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Netflix_icon.svg/407px-Netflix_icon.svg.png?20220806170125"
      />
    </head>

<body>
    {% include 'navbar.html' %}
    <br />

    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>{{artist_name}}</h1>
            </div>
        </div>
        <br/>
        <div class="row">
            {% if wikidata.image %}
            <div class="col-md-4">
                <img class="rounded mx-auto d-block img-fluid" src="{{wikidata.image.value}}"></img>
            </div>
            {% endif %}
            <div class="col">
                <table class="table">
                    <tbody>
                        {% if wikidata %}
                        <tr>
                            <th>Description</th>
                            <td>
                                {{wikidata.itemDescription.value}}
                            </td>
                        </tr>
                        {% if wikidata.sex_or_gender %}
                        <tr>
                            <th>Gender</th>
                            <td>
                                {{wikidata.sex_or_genderLabel.value|capfirst}}
                            </td>
                        </tr>
                        {% endif %}
                        {% if wikidata.date_of_birth %}
                        <tr>
                            <th>Date of Birth</th>
                            <td>
                                {{wikidata.date_of_birth.value}}
                            </td>
                        </tr>
                        {% endif %}

                        {% if wikidata.country_of_citizenship %}                            
                        <tr>
                            <th>Citizenship</th>
                            <td>
                                <a href={{wikidata.country_of_citizenship.value}}>
                                    {{wikidata.country_of_citizenshipLabel.value}}
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                        {% if wikidata.spouse %}    
                        <tr>
                            <th>Spouse</th>
                            <td>
                                <a href={{wikidata.spouse.value}}>
                                    {{wikidata.spouseLabel.value}}
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endif %}
                        {% if starred_movies %}
                        <tr>
                            <th>Starred in</td>
                            <td>
                                {% for i in starred_movies %}
                                <a href="/infobox/movie/{{i.mov}}">{{i.movie_title}}</a><br>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if directed_movies %}
                        <tr>
                            <th>Directed</td>
                            <td>
                                {% for i in directed_movies %}
                                <a href="/infobox/movie/{{i.mov}}">{{i.movie_title}}</a><br>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>