<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% for row in rdf_data %}
    <title>{{row.title}} ({{row.release_year}})</title>
    {% endfor %}
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
    rel="icon"
    type="image/x-icon"
    href="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Netflix_icon.svg/407px-Netflix_icon.svg.png?20220806170125"
  />
  </head>

  <body>
    {% include 'navbar.html' %}
    <br />
    {% for row in rdf_data %}
    <div class="container">
      <!-- <div style="height: 50vh; width: 40vw; background-color: aqua;"></div> -->
      <div class="row text-center">
        <div class="col">
          <h1>{{row.title}} ({{row.release_year}})</h1>
        </div>
      </div>
      <br/>
      {% if wikidata.image %}
      <div class="row text-center">
        <img style="max-width: 40vw" class="rounded mx-auto d-block img-fluid"  src="{{wikidata.image.value}}"></img>
      </div>
      {% endif %}
      <div class="row">
        <div class="col">
          <table class="table">
            <tbody>
              {% if row.type %}
              <tr>
                <th>Type</th>
                <td>
                  <a href="/search/?type={{row.type|lower}}">{{row.type|lower|capfirst}}</a>
                </td>
              </tr>
              {% endif %}
              {% if row.imdb_score or row.tmdb_score %}
              <tr>
                <th>Score</td>
                <td>
                  IMDB: {{row.imdb_score}} <br>
                  TMDB: {{row.tmdb_score}}
                </td>
              </tr>
              {% endif %}
              {% if row.runtime %}
              <tr>
                <th>Runtime</td>
                <td>{{row.runtime}} minutes</td>
              </tr>
              {% endif %}
              <tr>
                <th>Description</td>
                <td>{{row.description}}</td>
              </tr>
              <tr>
                <th>Genres</td>
                  <td>
                    {% for genre in row.genres %}
                      <a href="/genre/{{genre}}">{{genre}}</a>  
                    {% endfor %}
                  </td>
              </tr>
              {% if row.age_rest %}
              <tr>
                <th>Age restriction</td>
                <td>{{row.age_rest}}</td>
              </tr>
              {% endif %}
              {% if wikidata.country_of_origin %}                            
              <tr>
                  <th>Country</th>
                  <td>
                      <a href={{wikidata.country_of_origin.value}}>
                          {{wikidata.country_of_originLabel.value}}
                      </a>
                  </td>
              </tr>
              {% endif %}
              {% if wikidata.language %}                            
              <tr>
                  <th>Language</th>
                  <td>
                      <a href={{wikidata.language.value}}>
                          {{wikidata.languageLabel.value}}
                      </a>
                  </td>
              </tr>
              {% endif %}
              {% if row.seasons %}
              <tr>
                <th>Seasons</td>
                <td>{{row.seasons|floatformat}}</td>
              </tr>
              {% endif %}
              <tr>
                <th>Starring</td>
                <td>
                  {% for artist in artists %}
                  <a href="/infobox/artist/{{artist.a}}">{{artist.artist}}</a> as {{artist.char}}<br>
                  {% endfor %}
                </td>
              </tr>
              {% if directors %}
              <tr>
                <th>Director</td>
                <td>
                  {% for dir in directors %}
                  <a href="/infobox/artist/{{dir.a}}">{{dir.dir}}</a><br>
                  {% endfor %}
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endfor %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
