{% comment %} contoh {% endcomment %} {% comment %} {% if latest_question_list
%}
<ul>
  {% for question in latest_question_list %}
  <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <title>Netflix RDF</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Netflix_icon.svg/407px-Netflix_icon.svg.png?20220806170125"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <br />
      <div class="row text-center">
        <div class="col">
          <h1>{{ genre|capfirst }}</h1>
        </div>
      </div>
      <br />
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Release Year</th>
          <th>IMDB Score</th>
          <th>TMDB Score</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rdf_data %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td><a href="/infobox/movie/{{row.uri}}">{{row.title}}</a></td>
          <td>{{row.release_year}}</td>
          <td>{{row.imdb_score|default:"-"}}</td>
          <td>{{row.tmdb_score|default:"-"}}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </body>
</html>
