<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <title>Netflix RDF</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Netflix_icon.svg/407px-Netflix_icon.svg.png?20220806170125"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <br />
    <div class="row text-center">
      <div class="col">
        {% if 'imdb' in request.path %}
        <h1>Top 100 IMDB Score</h1>
        {% elif 'tmdb' in request.path %}
        <h1>Top 100 TMDB Score</h1>
        {% endif %}
      </div>
    </div>
    <br />
    <table class="table">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Release Year</th>
        {% if 'imdb' in request.path %}
        <th>IMDB Score</th>
        {% elif 'tmdb' in request.path %}
        <th>TMDB Score</th>
        {% endif %}
      </tr>
      {% for row in rdf_data%}
      <tr>
        <td>{{forloop.counter}}</td>
        <td><a href="/infobox/movie/{{row.uri}}">{{row.title}}</a></td>
        <td>{{row.release_year}}</td>
        <td>{{row.score}}</td>
      </tr>
      {% endfor %}
    </table>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
