<nav
  class="navbar navbar-expand-md navbar-dark sticky-top navbar-light bg-dark"
>
  <div style="cursor:default user-select:none" class="container-fluid">
    <a  style="user-select:none" class="navbar-brand mb-0 h1" href="/search"> Netflix RDF </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="user-select:none"  class="nav-link" href="/ranking/imdb">IMDB Ranking</a>
        </li>
        <li class="nav-item">
          <a style="user-select:none"  class="nav-link" href="/ranking/tmdb">TMDB Ranking</a>
        </li>
      </ul>
      <form class="d-flex" role="search" action="/search" id="search-form">
        <div class="row g-2">
          <div style="user-select:none"  class="col">
            <input
              class="form-control"
              type="text"
              id="title"
              name="title"
              placeholder="Title"
            />
          </div>
          <div style="user-select:none"  class="col-md-2">
            <input
              class="form-control"
              type="text"
              id="year"
              name="year"
              placeholder="Year"
            />
          </div>
          <div style="user-select:none"  class="col-md-auto">
            <select style="width:100px" class="form-select" id="genre" name="genre">
              <option value="" selected>Genre</option>
              <option value="action">Action</option>
              <option value="animation">Animation</option>
              <option value="comedy">Comedy</option>
              <option value="crime">Crime</option>
              <option value="documentation">Documentation</option>
              <option value="drama">Drama</option>
              <option value="european">European</option>
              <option value="family">Family</option>
              <option value="fantasy">Fantasy</option>
              <option value="history">History</option>
              <option value="horror">Horror</option>
              <option value="music">Music</option>
              <option value="reality">Reality</option>
              <option value="romance">Romance</option>
              <option value="scifi">Scifi</option>
              <option value="sport">Sport</option>
              <option value="thriller">Thriller</option>
              <option value="war">War</option>
              <option value="western">Western</option>
            </select>
          </div>
          <div style="user-select:none"  class="col-md-auto">
            <select style="width:100px" class="form-select" id="type" name="type">
              <option value="" selected>Type</option>
              <option value="movie">Movie</option>
              <option value="show">Show</option>
            </select>
          </div>
          <div style="user-select:none"  class="col-md-auto">
            <input class="btn btn-outline-light" type="submit" value="Search" />
          </div>
        </div>
      </form>
    </div>
</nav>
<script>
  window.onload = function () {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    const title = urlParams.get('title')
    const year = urlParams.get('year')
    const genre = urlParams.get('genre')
    const type = urlParams.get('type')

    document.getElementById("title").value = title;
    document.getElementById("year").value = year;
    if (genre){
      document.getElementById("genre").value = genre;
    }
    if (type){
      document.getElementById("type").value = type;
    }
  }
</script>


